<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Cadastro de Usuário</title>
  </head>
  <body>
    <h1 class="titulo">Preencha os campos para criar seu usuário</h1>
    <div class="container">
      <form class="form">
        <label>Nome: <input type="text" class="nome-cadastro" /></label><br />
        <label>Username: <input type="text" class="username-cadastro" /></label
        ><br />
        <label>Senha: <input type="password" class="senha-cadastro" /></label
        ><br />
        <div class="container">
          <button id="btn-cadastra" class="btn-login">Verificar</button>
        </div>
      </form>
    </div>
    <div id="renderiza"></div>
    <script src="/src/valida.js"></script>
  </body>
</html>
