<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro de Usuário</title>
  </head>
  <body>
    <h1 class="titulo">Preencha os campos para criar seu usuário</h1>
    <div class="container">

      <form class="form" method="POST" action="/register">
        <label class="label-nome">Nome: <input type="text" class="nome-cadastro" /></label><span id="span"></span><br />
        <label class="label-user">Username: <input type="text" class="username-cadastro" /></label><span></span><br />
        <label class="label-senha">Senha: <input type="password" class="senha-cadastro" /></label><span></span><br />
        <div class="container">
          <button id="btn-cadastra" class="btn-login">Verificar</button>
        </div>
      </form>

    </div>
    <div id="renderiza"></div>
    <script src="/src/valida.js"></script>
  </body>
</html>
