<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de tarefa</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <h1>Tarefas</h1>
    <main>
      <form action="">
        <label for="tarefa">Criar tarefa</label>
        <input type="text" id="tarefa" name="tarefa" />
        <button class="btn" type="submit">Criar</button>
      </form>
    </main>
    <section id="mostra"></section>
    <script src="main.js"></script>
  </body>
</html>
