<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1 class="titulo">Lista de tarefa</h1>
    </header>

    <div class="container">
        <form class="form">
            <h2 class="titulo-login">Login</h2>
            <input class="username" id="username" name="username" type="text" placeholder="username">
            <input class="password" id="password" name="password" type="password" placeholder="password">
            <div class="container"><button class="btn-login" type="submit">entrar</button></div>
        </form>
    </div>
    <footer>
        <div class="contact">
            <ul>
                <li>suporte@suporte.com</li>
                <li>+55 11 9999-9999</li>
            </ul>
        </div>
    </footer>
</body>
</html>
